<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/icon.png">

    <title>Tweet Therapy</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/main.css" rel="stylesheet">
  </head>

  <body>
	<div class="container">
		<center>	<h2> {{ name }} </h2> </center>
		<center> <h5> Percentage of positive tweets: {{ p }} % </h5></center>
		<center> <h5> Percentage of negative tweets: {{ n }} % </h5></center>
		<center> <h5> Percentage of neutral tweets: {{ t }} % </h5></center>
		<img src="data:image/png;base64, {{ url }}" class="center">
		<center> <h8> *A higher mood value indicates happier tweets. </h8> </center>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>