<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon.png">

    <title>Tweet Therapy</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/main.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-main">
        <center><h2 class="form-main-heading">Tweet Therapy</h2></center>
        <label for="inputEmail" class="sr-only">Username</label>
        <input id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="goPython()">Search</button>
		<script>
        function goPython(){
            $.ajax({
            	url: "model.py",
            	context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    	</script>
      </form>
	
	<img src="../static/my_plot.png" class="center">

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
